@font-face {
    font-family: Bebas;
    src: url(BebasNeue-Regular.otf);
}

:root {
    --font1: Bebas
}




h1 {
    font-family: var(--font1);
    text-align: center;
    border: 2px solid black;
   background-color: #70E08C;
}

table {
    margin-left: 700px;
    text-align: center;
    justify-content: center;
    border: 3px solid black;
}

td {
    
    font-family: var(--font1);
    text-align: center;
    justify-content: center;
    border: 3px solid black;
}

p {
    background-color: #70E08C;
}

